#section3 {
  min-height: 100vh;
}

.section3-h1-wrapper {

  padding: 100px $baseMargin1 0 $baseMargin1;

  h1 {
    font-size: $sectionHeader1;
  }

  ul {
    margin-top: 16px;
  }

  li {
    list-style-position: inside;
    font-size: 25px;
    color: $purple;
    text-transform: uppercase;
  } 
}

.section3-content {
  margin: 0 $baseMargin1;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  color: white;
  justify-content: space-around;
}

.section3-wrapper {
  height: 500px;
  background-image: url('/public/png/blue-vert.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.number-wrapper {
  width: 200px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;

  h1 {
    margin-bottom: 10px;
  }

  h3 {
    font-weight: 200;
  }
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  height: 210px;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;

  h4 {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 1998.98px) {
  .section3-content {
    margin: 0 $baseMargin2;
  }

  .section3-h1-wrapper {
    padding: 100px $baseMargin2 0 $baseMargin2;
  }
}

@media (max-width: 918px) {
  .numbers-container {
    flex-direction: column;
  }

  .number-wrapper {
    width: 100%;
  }

  .section3-wrapper {
    background-image: url('/public/png/BG.png');
    height: auto;
  }

  .text-container {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
  }

  .text-wrapper {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .section3-content {
    margin: 0 $baseMargin3;
  }

  .section3-h1-wrapper {
    padding: 100px $baseMargin3 0 $baseMargin3;
  }
}