@import '../../sass/variables.scss';

#section2 {
  background-color: rgb(238, 238, 238);
  padding-top: 100px;
  margin: 0;
  min-height: 150vh;
}

.section2-wrapper {
  padding: 0 $baseMargin1; ;
}

.h1-wrapper {
  h1 {
    font-size: $sectionHeader1;
  }

  ul {
    margin-top: 16px;
  }

  li {
    list-style-position: inside;
    font-size: 25px;
    color: $purple;
    text-transform: uppercase;
  } 
}

.section2-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;
}

.section2-tile {
  width: 330px;
  border-radius: 3px;
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.16);
}

.section2-img-container {
  position: relative;
  height: 334px;
  img {
    width: 100%;
    height: 100%;
  }
}


.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .2s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 3px 3px 0 0 ;
  p {
    font-size: 16px;
    font-weight: 100;
    margin-left: 5px;
  }
  img {
    width: 16px;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.section2-tile-title {
  text-transform: uppercase;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  h3 {
    padding: 0;
    font-size: 14px;
  }
}

.section2-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  button {
    // width: 200px;
    // height: 50px;
    border-radius: 3px;
    border: none;
    padding: 30px 80px;
    border-radius: 3px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700;
    margin-bottom: 100px;
    background-color: $purple;
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    transition: .2s ease;
    &:hover {
      background-color: $navy;
      cursor: pointer;
    }
  }
}