@import '../variables.scss', '../colors.scss';

#section1 {
  display: flex;
  margin: 80px 0 0 $baseMargin1;
  height: 1172px;
  justify-content: space-between;
  // width: 810px;
}

.section1-content {
  box-sizing: border-box;
  max-width: 810px;
  width: 50vw;
  margin-right: 30px;
}

.section1-header {
  font-size: 3rem;
  line-height: 62px;
  margin-bottom: 15px;
  margin-top: 80px;
}

.subtitle1 {
  font-size: 25px;
  line-height: 30px;
  list-style-position: inside;
  font-weight: 100;
  color: $purple;
  &::marker {
    color: $purple;
  }
}

.section1-p {
  margin-top: 60px;
  line-height: 24px;
  margin-bottom: 40px;
}

.section1-list-el {
  display: flex;

  img {
    margin-right: 20px;
  }
}

.section1-image1 {
  max-width: 705px;
  width: 38vw;
}

.section1-image2 {
  display: none;
}


.section1-list li {
  list-style-type: square;
  list-style-position: inside;
  line-height: 30px;
  list-style: none;
  &::marker {
    color: $purple;
    font-size: 1.4em;
    line-height: 30px;
  }
}

.subtitle2 {
  margin-top: 30px;
  color: $purple;
  font-size: 25px;
  letter-spacing: 3px;
}

.section1-tiles {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 90px);
  grid-gap: 10px;
  margin-top: 40px;
  margin-bottom: 100px;
  // max-width: 900px;
}

.section1-tile {
  display: flex;
  background-color: rgb(247, 246, 246);
  border-radius: 3px;
  align-items: center;
  p {
    font-size: 14px;
    font-weight: 600;
  }
}

.section1-tile-img {
  margin: 0 20px;
}

#section1-tile-1 {
  grid-column: 1 / 8;
  grid-row: 1;
}

#section1-tile-2 {
  grid-column: 8 / 13;
  grid-row: 1;
}

#section1-tile-3 {
  grid-column: 1 / 13;
  grid-row: 2;
}

#section1-tile-4 {
  grid-column: 1 / 5;
  grid-row: 3;
}

#section1-tile-5 {
  grid-column: 5 / 9;
  grid-row: 3;
}

#section1-tile-6 {
  grid-column: 9 / 13;
  grid-row: 3;
}

#section1-tile-7 {
  grid-column: 1 / 8;
  grid-row: 4;
}

#section1-tile-8 {
  grid-column: 8 / 13;
  grid-row: 4;
}

@media (max-width: 1700px) {
  #section1 {
    flex-direction: column;
    margin: 80px 0 0 0 ;
  }

  .section1-content {
    margin: 0 $baseMargin1;
    max-width: calc(100% - #{$baseMargin1 * 2});
    width: max-content;
  }

  .section1-image1 {
    display: none;
  }

  .section1-image2 {
    display: block;
    width: 100%;
  }

  .section1-tiles {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1199.98px) {
  .section1-content {
    margin: 0 $baseMargin2;
    max-width: calc(100% - #{$baseMargin2 * 2});
    width: max-content;
  }

  .section1-list-el {
    font-size: 14px;
  }

  .section1-tiles {
    display: flex;
    flex-direction: column;
  }
}