@import '../../sass/variables.scss';

footer {
  min-height: 50vh;
  margin: 0 $baseMargin1;
  display: flex;
  justify-content: space-around;
}

.footer-logo-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 20px;

  img {
    width: 454px;
  }
}

.others {

  display: flex;
  gap: 30px;
  // margin-top: 20px;

  img {
    width: 36px;
  }
}

.vl {
  border-left: 2px solid #dddddd;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  height: 50px;
  // margin: 0 20px;
}

.contacts {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
}

.footer-btn-container {

  display: flex;
  align-items: center;
  margin-top: 50px;

  button {
    font-family: Source-Sans-Pro, sans-serif;
    background-color: $purple;
    color: white;
    padding: 20px 60px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 16px;
  }

  img {
    width: 10px;
  }
}

.links-container {
  width: 571px;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.hr-lines {

  max-width: 500px;
  margin: 50px auto;
  position: relative;
  color: $hr;

  &::before {
    content:" ";
    position: relative;
    display: block;
    height: 1px;
    width: 200px;
    position: absolute;
    top: 50%;
    right: 120%;
    background: $hr;
  }

  &::after {
    content:" ";
    position: relative;
    display: block;
    height: 1px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 120%;
    background: $hr;
  }
}

.links {
  font-family: Inter, sans-serif;
  ul {
    height: 160px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li {
      list-style: none;
      text-transform: uppercase;
      font-size: 14px;
      margin: 5px 70px 0 0 ;
    }
  }
}