@import '../../sass/variables.scss';

footer {
  min-height: 50vh;
  margin: 0 $baseMargin1;
  display: flex;
  justify-content: space-between;
}

.footer-logo-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 20px;

  img {
    width: 454px;
  }
}

.others {

  display: flex;
  gap: 30px;
  // margin-top: 20px;

  img {
    width: 36px;
  }
}

.vl {
  border-left: 2px solid #dddddd;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  height: 50px;
  // margin: 0 20px;
}

.contacts {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
}

.footer-btn-container {

  display: flex;
  align-items: center;
  margin-top: 50px;

  button {
    font-family: Source-Sans-Pro, sans-serif;
    background-color: $purple;
    color: white;
    padding: 20px 60px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 16px;
  }

  img {
    width: 10px;
  }
}

.links-container {
  width: 571px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  // align-items: center;
}

.hr-lines {

  width: 140px;
  margin: 50px auto;
  position: relative;
  color: $hr;
  font-size: 15px;
  text-align: center;

  &::before {
    content:" ";
    position: relative;
    display: block;
    height: 1px;
    width: 120%;
    position: absolute;
    top: 50%;
    right: 120%;
    background: $hr;
  }

  &::after {
    content:" ";
    position: relative;
    display: block;
    height: 1px;
    width: 120%;
    position: absolute;
    top: 50%;
    left: 120%;
    background: $hr;
  }
}

.links {
  font-family: Inter, sans-serif;
  margin: 0 50px;
  ul {
    height: 200px;
    // width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li {
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      margin: 5px 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1400px) {
  footer {
    margin: 0 $baseMargin2;
  }
}

@media (max-width: 1258px) {
  footer {
    margin: 100px $baseMargin3 0 $baseMargin3;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo-container {
    width: 100%;
  }

  .links-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    ul {
      height: auto;
    }
  }
}

@media (max-width: 600px) {
  .footer-logo {
    width: 70vw;
  }
}